@import './index.scss';


.site-layout-content {
  margin: 24px auto;
  min-height: 280px;
  padding: 24px;
  color: var(--color-text);

}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.header {
  background: var(--color-background);


}

.header_hover {
  color: #ff5f2e;

  :hover {
    color: var(--color-primary);
    transition: 0.5s;
  }

}



